<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Local CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Load external libs -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>{{ title }}</title>
</head>

<body onload="main()">
	<div class="p-1"></div>

	<div class="card bg-white text-dark border rounded">
		<div class="card-header border-0 bg-primary"></div>

		<div class="card-body mx-2">
			<div id="header">
			<img src="static/imgs/logo.png" class="img-fluid" width="50%" style="min-width: 200px;" alt="Logo">
			<h2 class="font-weight-normal">{{ title }}</h2>
			<br>
			</div>

			<div class="container">
			<div class="row">
				<div class="col-sm">
				<p class="m-0 p-0 bold"><strong>Investigador Principal:</strong><br>
				Prof. Lucas N. Ferreira<br>
				Professor Adjunto<br>
				Departamento de Ciência da Computação<br>
				Universidade Federal de Minas Gerais (UFMG)<br>
				Belo Horizonte, MG - Brasil<br>
				lferreira@dcc.ufmg.br
				</p><br>
				</div>
				<div class="col-sm">
				<p class="m-0 p-0 bold"><strong>Co-Investigador:</strong><br>
				Felipe F. Marra<br>
				Mestrando <br>
				Departamento de Informática <br>
				Universidade Federal de Viçosa (UFV) <br>
				Viçosa, MG - Brasil <br>
				felipe.marra@ufv.br
				</p><br>
				</div>
			</div>
			</div>

			<p class="m-0 p-0 bold"><strong>Convite Para Participação:</strong><br>
				O objetivo dessa pesquisa é desenvolver novos modelos de geração musical para jogos de video game. Nesse estudo, queremos avaliar a qualidade de músicas geradas por modelos de Inteligência Artificial em relação as trilhas originais de diferentes jogos.
			</p><br>

			<p class="m-0 p-0 bold"><strong>Objetivo do Estudo:</strong><br>
				Com esta pesquisa, desejamos descobrir se nossos sistemas de geração musical são capazes de compor música para video games a partir de um vídeo de gameplay específico. Também queremos avaliar a qualidade das peças geradas em comparação com músicas de video games compostas por músicos profissionais.
			</p><br>

			<p class="m-0 p-0 bold"><strong>Participação:</strong><br>
				Nesse estudo, você irá avaliar músicas geradas para dois jogos diferentes. Ambos os jogos são do do Super Nintendo Entertainment System (SNES). 
				Para cada jogo, você irá inicialmente assitir a um vídeo de um trecho desse jogo com a sua música de fundo original. Após o vídeo original, irá responder perguntas sobre a sua familiaridade com o jogo assitido.
				Em seguida, irá assitir a três versões diferentes deste mesmo vídeo, cada um com uma trilha de fundo gerada diferente. Após assitir cada vídeo com música gerada, você irá responder perguntas sobre a qualidade das músicas ouvidas.
				Ao final, você irá responder um questionário demográfico. Cada vídeo, inclusive o com a trilha original, tem duração de 10 segundos. No total, você irá assistir a <span id="n_pieces"></span> vídeos. 
				O experimento completo leva aproximadamente <span id="xp_duration"></span> minutos. Recomendamos o uso de fones de ouvido durante este estudo.
			</p><br>

			<p class="m-0 p-0 bold"><strong>Benefícions:</strong><br>
				Não há benefício direto para os participantes que fazem parte do estudo.
			</p><br>

			<p class="m-0 p-0 bold"><strong>Riscos:</strong><br>
				Os riscos associados a este estudo são equivalentes aos de ouvir música em um computador.
			</p><br>
			
			<p class="m-0 p-0 bold"><strong>Confidencialidade e Anonimato:</strong><br>
				As informações que você compartilhar permanecerão estritamente confidenciais e serão usadas exclusivamente para os fins desta pesquisa. As únicas pessoas que terão acesso aos dados da pesquisa são o professor e o aluno envolvidos neste estudo (veja os nomes e informações de contato no topo dessa página). 
				Suas respostas às perguntas abertas poderão ser usadas na íntegra em apresentações e publicações, mas nem você (nem sua organização) serão identificados. Para minimizar o risco de violações de segurança e garantir sua confidencialidade, recomendamos que você adote medidas de segurança padrão, como fechar o navegador e bloquear a tela ou o dispositivo quando não estiver mais usando-os/quando concluir o estudo. 
				Os resultados serão publicados em formato agregado. O anonimato é garantido, pois você não será solicitado a fornecer seu nome ou qualquer informação pessoal.
			</p><br>
			
			<p class="m-0 p-0 bold"><strong>Participação Voluntária:</strong><br>
				A participação é totalmente gratuita e, caso decida participar, você pode se recusar a responder às perguntas que não desejar. 
				Se optar por desistir durante o questionário eletrônico, basta fechar o link e suas respostas não serão contabilizadas. 
				Devido à natureza anônima da pesquisa, após o envio das suas respostas, não será mais possível removê-las do estudo.
			</p><br>

			<p class="m-0 p-0 bold"><strong>Informações Sobre os Resultados do Estudo:</strong><br>
				Os resultados de nossos experimentos não serão disponibilizados diretamente aos participantes.
			</p><br>

			<p class="m-0 p-0 bold"><strong>Informações de Contato:</strong><br>
				Caso tenha alguma dúvida ou necessite de mais informações sobre o estudo em si, entre em contato com os pesquisadores pelos e-mails aqui mencionados.
			</p><br>

			<p class="m-0 p-0 bold"><strong>
				O preenchimento e envio do questionário implica o seu consentimento em participar.
			</strong></p>
			</small>
		</div>
	</div>

	<form id="submitForm" method="GET">
        <div class="d-flex flex-row align-items-md-center justify-content-between mt-2 mb-2 gap-3">
            <div class="d-flex gap-1">
                <button id="prevButton" type="button" class="btn btn-page bg-white ml-2" onclick="">Anterior</button>
                <button id="nextButton" type="submit" class="btn btn-page bg-white ml-2" >Próximo</button>
            </div>

            <div class="d-flex align-items-center gap-1 w-50 w-md-auto m-2">
                <div id="ppage-back" class="progress bg-secondary flex-grow-1 ml-2" style="height: 10px; min-width: 50px;">
                    <div id="ppage" class="progress-bar" role="progressbar"></div>
                </div>
            </div>

            <div class="d-flex gap-2">
                <span id="npage" class="align-items-center">
                    Página 1 de N
                </span>
            </div>
        </div>
	</form>

	<div class="p-4"></div>
</body>

<script>
	function main() {
		// Get random sequence of pieces
		const experiments_dict = JSON.parse('{{experiments_dict | tojson}}');
		const experiments_len = Object.keys(experiments_dict).length 

        document.getElementById("n_pieces").innerHTML = experiments_len;
        document.getElementById("xp_duration").innerHTML = Math.round((experiments_len * 45)/60);

        let npage = document.getElementById("npage");
        npage.innerHTML = npage.innerHTML.replace("N", experiments_len + 2);

        let ppage = document.getElementById("ppage");
        ppage.style.width = (1/(experiments_len + 2) * 100) + "%";

        // Make sure localStorage is clear when the experiments start
        localStorage.clear();

        // Set Next button action
        let submitForm = document.getElementById("submitForm");

		localStorage.setItem("piece_index", 0);

		const first_experiment = experiments_dict[0]
		const model_key = first_experiment['model_key']
		const pick_one_key = first_experiment['pick_one_key']
		const content_key = first_experiment['content_key']

		submitForm.action = 'http://{{ sever_name }}/evaluate/' + model_key + '/' + pick_one_key + '/' + content_key;

        // Save experiments_dict
        console.log("SAVING XP", experiments_dict) //#TODO: Remove
        localStorage.setItem("experiments_dict", JSON.stringify(experiments_dict));
	}
</script>
</html>
