/* For mobile phones: */
body {
    width: 92%;
    margin: auto;
    background: #e3fffc;
}

.likert-option {
    width: 75px;
}

/* For desktop: */
@media only screen and (min-width: 700px) {
    body {
        width: 800px;
        margin: auto;
        background: #e3fffc;
    }

    #header img {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #header h2 {
        font-size: 25px;
      /* padding-bottom: 20px; */
    }
}

.card-header{
    background: #41b3a6 !important;
}

.btn-page {
    /* background: white !important; */
    color: #4154B3 !important;
    font-size: 14px;
    border: 25%;
}

.progress-bar {
    background: #4154B3 !important;
}

.required {
    color: red;
}
